*
    padding: 0
    margin: 0
    box-sizing: border-box

$color-orange: #F28B64
$color-blue: #5290EA
$color-grey: #E2E2E2
$background-color: #F0F0F0

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    min-height: 890px
    background-color: $background-color
    padding-top: 16px
    z-index: -5
    position: relative
    &__logo
        width: 152px
    &__nav-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
    &__content-container
        display: flex

.nav-menu
    &__list
        display: flex
        gap: 64px
    &__list-item
        font-size: 18px
        font-weight: 600
        list-style-type: none
        text-decoration: none
        a
            text-decoration: none

.left-wrapper
    position: relative
    &__restangle-blue
        position: absolute
        height: 220px
        width: 630px
        background-color: $color-blue
        transform: rotate(-64deg)
        top: 200px
        left: -100px
        border-radius: 100px
        z-index:-3
    &__restangle-orange
        position: absolute
        height: 220px
        width: 630px
        background-color: $color-orange
        transform: rotate(-51deg)
        top: 200px
        left: -100px
        border-radius: 100px
        z-index:-1
    &__restangle-grey
        position: absolute
        height: 220px
        width: 630px
        background-color: $color-grey
        transform: rotate(-36deg)
        top: 200px
        left: -100px
        border-radius: 100px
        z-index:-2
    &__img
        z-index: -4
        position: relative

.left-wrapper__img
    z-index: 0

// $background-color1: green
// $background-color2: blue
// .block
//     height: 200px
//     width: 400px
//     background-color: green
//     &__text
//         background-color: blue

// @mixin new-block
//     height: 100px
//     width: 100px
//     background-color: yellow

// .block2
//     @include new-block
